body{
	margin: 15px;
	padding: 10px;


}
header{
	background-image: url(../images/flywheel.jpg);
height: 20%;
 
 align-content: center;
 width: 80%;
 background-size: 100%;
 
 
}

nav a{
	
display: inline-block;
	color: #3c3c3c;
	padding: 15px;
	text-align: center ;
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	background-color: #f9f9f9;
	font-family: "	Times New Roman" sans-serif;
	border-radius: 7px;
	width: 15%;
	margin:12px ;

}

	
	


a:active{
	background-color: #b4b4b4;
}



h1{
	color: 	#0000ff;
	font-size: 38px;
 text-align: center;
 padding-top: 5px;
 -webkit-text-stroke: 2px #3cb371;
}
img{
	display: block;
		width: 50%;
		Height: 50%;
		padding: 8px;
		margin:auto;

		border: 1px solid #808080;
  border-radius: 4px;

	}
	img:hover{
		box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	}
	.left .right{
		display: inline-block;
	}
	.left{
		background-color:rgba(80, 78, 230, 0.3) ;
		width: 30%;
		float: left;
		
		
	}
	div.column{
		
		padding: 20px;

	}
	.right{
		/*float:left;*/
		
		width: 64%;
		display: inline-block;
		
		padding: 20px;
		/*margin: 12px;*/

	}
	/*.mcontent::after {
  content: "";
  clear: both;
  display: table;
font-family: Georgia, sans-serif;
}*/
