
	a{
	display: block;
	width: 20%;
	background: #00BCD4;
	padding:10px;
	margin:10px;
	text-align:center;
	text-transform:uppercase;
	overflow:hidden;
}
a:hover{
	background:#aac5c9;
}
a:focus:{
	border:solid 1px aqua;
}
a:active{
	background:white;
}
